<div id="plot">

    <img style="width: auto; height: 400px; align: 'center'" src={{ plot }}>
    <div class="border" style="padding-left:20px; margin-left:20px; align: 'right'">
        <div style="font-size:18px;">Gender: {{gender}}</div>
        <div style="font-size:18px;">Scholarities: {{scholarities}}</div>
        <div style="font-size:18px;">OS: {{os}}</div>
    </div>
    <!--<img style="width: auto; height: 400px; align: 'center'" src="{{ url_for('static', filename='checkplt.png') }}" alt="">-->
</div>